<div class="main-container">
    <!-- <div class="alert alert-app-level">...</div> -->
    <header class="header-6">
      <div class="branding">
        <a href="..." class="nav-link">
          <clr-icon shape="vm-bug"></clr-icon>
          <span class="title">Clarity Design</span>
        </a>
      </div>
      <div class="header-actions">
        <a href="..." class="nav-link nav-text">Log Out</a>
      </div>
    </header>
    <!-- <nav class="subnav">...</nav> -->
    <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
      <clr-vertical-nav [clrVerticalNavCollapsible]="demoCollapsible">
        <clr-vertical-nav-group routerLinkActive="active">
          <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
          Normal
          <clr-vertical-nav-group-children>
            <a clrVerticalNavLink routerLink="./page1" routerLinkActive="active">Pidgey</a>
            <a clrVerticalNavLink routerLink="./page2" routerLinkActive="active">Snorlax</a>
          </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
        <clr-vertical-nav-group routerLinkActive="active">
          <clr-icon shape="flame" clrVerticalNavIcon></clr-icon>
          Fire
          <clr-vertical-nav-group-children>
            <a clrVerticalNavLink routerLink="./fire/charmander" routerLinkActive="active">Charmander</a>
            <a clrVerticalNavLink routerLink="./fire/charizard" routerLinkActive="active">Charizard</a>
          </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
        <clr-vertical-nav-group routerLinkActive="active">
          <clr-icon shape="bolt" clrVerticalNavIcon></clr-icon>
          Electric
          <clr-vertical-nav-group-children>
            <a clrVerticalNavLink routerLink="./electric/pikachu" routerLinkActive="active">Pikachu</a>
            <a clrVerticalNavLink routerLink="./electric/raichu" routerLinkActive="active">Raichu</a>
          </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
        <a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
          <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
          Credit
        </a>
      </clr-vertical-nav>
    </div>
  </div>
  